
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', sans-serif;
  --fonte3:   "srircha" ;
}


*{ 
    margin: 0px;
    padding: 0px;
   
}

html, body { 
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 9vw;
    
    
}

header > p {
    padding-bottom: 50px;

}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
 padding-left: 30px;
 padding-top: 10vh;
 padding-bottom: 10vh;
 line-height: 2em;
 font-family: var(--fonte3);
 font-size: 3.5vw;
 
}

section > p {
    padding-bottom: 5%;
}

section.normal {
   background-color: white;
   color: rgb(54, 53, 53)
}

section.imagem{
    background-color: rgb(42, 41, 41);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.492);
    background-attachment: fixed;


}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.251);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
  background-image: url('../imagens/background001.jpg');
  background-position: right center;
}

section#img02 {
background-image: url('../imagens/background002.jpg');
}

footer {
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center
    ;
}